<% if @task.errors.any? %>
  <div>
    <h4><%= t('errors.template.other') %></h4>
    <ul>
      <%= @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= form.label :expired_at %>
  <%= form.text_field :expired_at %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  <%= link_to "一覧画面にもどる", tasks_path%>