<<<<<<< HEAD
<div class="left-contents col-md-8">
  <h2>確認画面</h2>
</div>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
      <%= form.hidden_field :expired_at %>
        <%= form.hidden_field :status %>
          <%= form.hidden_field :priority %>
            <div class="left-contents col-8">
              <p><strong>タスク名: <%= @task.title %></strong></p>
              <div class="left-contents col-2">
                <p><strong>内容: <%= @task.content %></strong></p>
              </div>
              <p><strong>終了期限: <%= @task.expired_at %></strong></p>
              <p><strong>ステータス: <%= @task.status %></strong></p>
              <p><strong>優先度: <%= @task.priority %></strong></p>
            </div>
            <%= form.submit "タスク作成" %>
              <% end %>
                <%= link_to "作成画面に戻る", new_task_path, class: 'btn btn-outline-primary'%> <br>
=======
<%= form_with(model: @task, local: true, url:choose_new_or_edit) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= @task.errors.count %>件のエラーがあります。</p>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="left-contents col3">
<table>
<tr>
    <div class="field">
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %><td>
    </div>

    <div class="field">
      <td><%= form.label :content %><td>
      <td><%= form.text_field :content %><td>
    </div>

    <div class="field">
      <td><%= form.label :expired_at %><td>
      <td><%= form.text_field :expired_at %><td>
    </div>

    <div class="field">
      <td><%= form.label :status %><td>
      <td><%= form.select :status, Task.statuses.keys.to_a, {} %><td>
    </div>

    <div class="field">
      <td><%= form.label :priority %><td>
      <td><%= form.select :priority, Task.priorities.keys.to_a, {} %><td>
    </div>

    <div class="field">
      <%= form.label :ラベル %>
      <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
    </div>

      <div class="left-contents col-md-10">
      <div class="actions" >
        <%= form.submit%>
      </div>
    </div>
   
    </table>
  </div>  
  <% end %>

<div class="left-contents col-md-10">
  <%= link_to "一覧画面にもどる", tasks_path, class:'btn btn-outline-primary'%>
</div>
>>>>>>> step5
