<form>
  <div class="row">
    <div class="col-md-6 col-md-offset-1"><h3 class="font-weight-bold">タスク管理支援画面</h3></div>
      <div class="left-contents col-md-8"> <%= link_to '新規作成',new_task_path%>
        <%= form_with url:tasks_path, scope: :task, method: :get, local: true do |form| %>
        <%= form.text_field :search,id: '検索' %>
        <label for="exampleInputEmail1"><%= form.select :status, Task.statuses.keys.to_a, {prompt: "選択してください"},class: "status-select"%></label>
         <button type="button" class="btn btn-outline-primary"><%= link_to "優先度", tasks_path(priority_sort: "true"), id: '優先度' %></button>
         <button type="button" class="btn btn-outline-primary"><%= link_to "終了期限", tasks_path(sort_expired: "true",id: 'ソート' ) %></button>
          <%= form.submit 'Search',title: nil %>
    <% end %>
    </div>
  </div>  
 
   <%= button_to "Logout", session_path(current_user.id), method: :delete %>

  <%=@tasks.count%>件のタスクがあります。
  <div class="left-contents col-md-10">
    <table>
      <%@tasks.each do |task| %>
        <tr>
          <td class = "test">ユーザー: <%= task.user.name %></p>
          <td class = "test">タスク名:<%= task.title %> </td>
          <td>内容:<%= task.content %></td>
          <td class = "expired">終了期限:<%= task.expired_at %></td>
          <td>ステータス:<%= task.status %></td>
          <td class= "priority">優先順位:<%= task.priority %></td>
          <td> <%= link_to '詳細',task_path(task.id),class: 'btn btn-outline-primary'%></button>
          <td><%= link_to '編集',edit_task_path(task.id),class: 'btn btn-outline-success'%></button>
          <td><%= link_to '削除',task_path(task.id),class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td></td>
      <% end %>
        <tr>
    </table>
    </div>
      <div class="col-md-6 col-md-offset-1"><%= paginate @tasks %></div>

  