<%= form_with(model: @user, local: true) do |f| %>
  <div class="field">
      <br>
		   <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :password_digest %>
        <%= f.password_field :password_digest %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      <br>
      <br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to "User Show",user_path%>